@model MedicineViewModel
@{
    ViewData["Title"] = "Medicine Page";
}


<form asp-controller="Medicine" asp-action="Add">
    Name :<input type="text" name="Name" /><br />
    Company name:<input type="text" name="CompanyName" /><br />
    Active substance: <input type="text" name="ActiveSubstance" /><br />
    Weight: <input type="text" name="Weight" /><br />
    Price: <input type="text" name="Price" /><br />
    Amount: <input type="text" name="Amount" /><br />
    Expiration date: <input type="text" name="ExpirationDate" /><br />
    <button type="submit" class="btn btn-success">Filter</button>
</form>
