@model DoctorViewModel
@{
    ViewData["Title"] = "Home Page";
}


<form asp-controller="Home" asp-action="Add">
    First name:<input type="text" name="FirstName" /><br />
    Last name: <input type="text" name="LastName" /><br />
    Phone number:<input type="text" name="PhoneNumber" /><br />
    Work years<input type="number" name="WorkYears" /><br />
    Is able to make prescription?<input type="checkbox" name="IsAbleToMakePrescriptions" /><br />
    <button type="submit" class="btn btn-success">Add</button>
</form>
